* {
	-fx-primary-color: #5c798d7f
}

#root {
	-lighter: derive(-fx-primary-color, +100%);
	-normal: -fx-primary-color;
	-darker: derive(-fx-primary-color, -50%);

	-fx-background-color: linear-gradient(to bottom, -lighter, -normal, -darker);
	-fx-background-radius: 5;
}

Button {
	-fx-background-color: rgba(0, 0, 0, 0.15);
	-fx-background-repeat: no-repeat;
	-fx-background-position: 100%;
	-fx-background-radius: 8px;
}

Button:hover {
	-fx-background-color: rgba(255, 255, 255, 0.5);
}

#backwardsButton {
	-fx-background-image: url('./../../images/BackwardsButton.png');
}

#pauseButton {
	-fx-background-image: url('./../../images/PauseButton.png');
}

#unpauseButton {
	-fx-background-image: url('./../../images/UnpauseButton.png');
}

#forwardsButton {
	-fx-background-image: url('./../../images/ForwardsButton.png');
}

#settingsButton {
	-fx-background-image: url('./../../images/SettingsButton.png');
}

#moveButton {
	-fx-background-image: url('./../../images/MoveButton.png');
}

#exitButton {
	-fx-background-image: url('./../../images/ExitButton.png');
}

#startNewButton {
	-fx-background-image: url('./../../images/StartNewButton.png');
}

#restartButton {
	-fx-background-image: url('./../../images/RestartButton.png');
}

#modeButton {
	-fx-background-image: url('./../../images/ModeButton.png');
}
